@tailwind base;
@tailwind components;
@tailwind utilities;

/* MyHeader.css */


.header-container {
  align-items: center;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
font-family: 'Courier New', Courier, monospace;
box-shadow: 2px 12px  122px 12px #4935ff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 210px;
  height: 90px;
  margin-right: 50px;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  border-radius: 20px;
  transform: scale(1.05);
  padding: 10px;
  margin: 0 5px;
  position: relative;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  margin-right: 15px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.nav-menu a:hover {
  color: #f8f8f7;
  
}

.icon {
  font-size: 20px;
}

.sign-out-container {
  flex: start;
  font-family: 'Courier New', Courier, monospace;
}

.sign-out-button {
  font-family: 'Courier New', Courier, monospace;
  background-color: transparent;
  width: max-content;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
  padding: 5px 10px;
  margin: 0 5px;
}

.sign-out-button:hover {
 color: #fcfcfc;
 border-radius: 20px;
 transform: scale(1.05);
 padding: 15px;
 margin: 0 15px;
 background-color: #e21515;

}

.nav-menu li:hover {
  background-color: #e21515;
  transform: scale(1.05);
}

